.home {
  width: 50%;
  margin: auto;
}

.cardText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDown {
  display: block;
  width: 75%;
}

.button {
  display: block;
}
